* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(to left, #e0eafc, #cfdef3);
    min-height: 100%;
    position: relative;
    margin: 0;
    /* padding-bottom: 20px */
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 50px */
}

li {
    list-style: none
}

input[placeholder] {
    text-align: center;
}

.loading {
<<<<<<< HEAD
    background-image: url('../img/LOGO_DOG.png')    ;
=======
    background-image: url('../img/LOGO_DOG.png');
>>>>>>> 96d0c311c98f8bc9d7a44097d2011a021114cd91
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    background-position: center;
}