.editor-container {
    min-height: calc(100vh - 126px);
    display: flex;
    justify-content: center;
    background-color: gray
}

.canvas-container {
    margin-top: 15vh;
}

.text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.canvas {
    background-color: whitesmoke;
    border-radius: 4px;
}

.canvas>p {
    text-align: center;
}