
.footer-controls button{
    background: transparent;
    cursor: pointer;
    /* width: 30%; */
}
.footer-controls > *{
    /* overflow:scroll; */
    background: darkgrey;
    /* height: 70px; */
}



#input-color-text[type="color"]{
    background: unset;
    height: 40px;
    /* max-width: 100px; */
    border: unset;
}

#input-color-text{
    margin: 10px;
    width: 30%;

}

#size-font-text[type="number"]{
    width: 30%;
}

.fonts-types{
    width: 120px;
}

.font-size-container{
    height: fit-content;
    padding: 5px;
    margin: 5px;
}

.font-size-btn{
    font-size: 30px;
    width: fit-content;
    text-align: center;
}

#size-font-text{
    font-size: 30px;
}