
.footer-controls button{
    background: transparent;
    cursor: pointer;
    width: 30%;
}
.footer-controls > *{
    /* overflow:scroll; */
    background: darkgrey;
    height: 70px;
}



#input-color-text[type="color"]{
    background: unset;
    height: 40px;
    /* max-width: 100px; */
    border: unset;
}

#input-color-text{
    margin: 10px;
    width: 30%;

}

#size-font-text[type="number"]{
    width: 30%;
}

.fonts-types{
    width: 120px;
}

