
footer {
  max-height: 70px;  
  /* display: flex; */
}
.footer-controls{
    background: darkgrey;
    display: flex;
    justify-content: center;
}
.footer-controls-button{
    border-radius: 10px;
    outline: black;
    border:none;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0 20px;  
    font-weight: bolder;
    font-family: mali,cursive;
    height: 70px;
    background: transparent;
    cursor: pointer; 
}

.main-footer-nav {
    display: flex;
}

.footer-controls-button:hover{
    background: rgb(82, 81, 81);
}
.footer-controls > *{
    /* overflow-x:scroll; */
}


#input-color-stroke {
    height: 40px;
    border: unset;
    margin: 10px;
    width: 30%;
}
#input-color-text[type="color"]{
    background: unset;
    height: 40px;
    border: unset;
}

#input-color-text{
    margin: 10px;
    width: 30%;

}

#size-font-text[type="number"]{
    width: 30%;
}

.fonts-types{
    width: 120px;
}

.font-color-container{
    max-height: 60px;
    display: flex;
    padding: 5px;
    margin: 5px;

}
.font-color-container >button:first-child {
    background: transparent;
    height: 60px;
    width: 80px;     
}

.stroke-btn::after {
width: 100px;
}
.stroke-btns {
    display: flex;
    background: transparent;
    height: 40px;
    margin: 10px;
    width: 100%;
}
.font-size-btn{
    font-size: 20px;
 
}

#textInput {
    width: 100px;
}

#size-font-text{
    font-size: 25px;
}
.publish-btn {
background: none;
border: none;
}

.add-line-btn {
    background: transparent;
    border:none;
    border-left:1px solid black;
    border-right:1px solid black;
}
.social-media-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media ()
.text-line-edit {
    display: flex;
}

.save-meme:hover {
       text-decoration: none;
    }
.outline-container {
    display: flex;
    flex-direction: row
}