.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.contianer {
    position: relative;
}

.grid{
    display: grid;
}
.display-none {
    display: none;
}

.col {
    flex-direction: column;
}

.rtl {
    direction: rtl
}