.main-header {
    background-color: darkgrey;
    margin-bottom: 2vh;
}
.navbar-web-container {
    display: none;
    }

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

.nav-item {
   text-align: right
}
/* Website Mode */
@media (min-width: 660px) {
    .main-header {
        display: flex
                    }

    .navbar-toggler {display: none;}
    .navbar-web-container {
        display: flex;
        flex-direction: row
        }
}



.search-bar {    
    display: block;
    border-radius: 40px;
    margin: 0  auto;
}
.search-bar:focus {
    outline: none;
    
}