
.gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.images-items{
    grid-template-rows:repeat(16,1fr);
    grid-template-columns:repeat(8,2fr);
    margin: 5px;
    width: 400px;
    height: 100vh;
}
.image-item{
    background: black;
    height: 30vh;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    cursor: pointer;
    left: 50px;
}


/* .image-item-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url('../img/banana.jpeg') no-repeat center;
    background-size: cover;
}
.image-item-2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    background: url('../img/doll-boy.jpeg') no-repeat center;
    background-size: cover;
}
.image-item-3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url('../img/dog\ cerrot.jpg') no-repeat center;
    background-size: cover;
}
.image-item-4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    background: url('../img/funny-baby.jpg') no-repeat center;
    background-size: cover;
} */

/* 
.rowOne {
    top:60px;
  }
  
  .rowTwo {
    top: 400px; 
  } */