.tags-container {
    
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height:60px;

}

.tags-list {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: purple;
    outline: 1px green;
    justify-content: space-between;
    align-content: space-between;
    overflow: scroll;
}